@{
  Layout = "_Layout";
}

<h1>Hair Salon Clientelle</h1>
<div class="jumbotron">
  <p>@Html.ActionLink("See All Stylists", "Index", "Stylists")</p>
  <p>@Html.ActionLink("See All Clients", "Index", "Clients")</p>
</div>